body {
  margin: 0px;
  display: flex;
  flex-direction: column;
}

main {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
}

header {
  padding: 20px;
  height: fit-content;
  width: fit-content;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls {
  padding: 10px;
  display: flex;
  flex: 1 1 0;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#size-container {
  margin: 10px;
  width: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#color-container {
  margin: 10px;
  width: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#reset-container {
  margin: 10px;
  width: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  width: 120px;
  height: auto;
}

#grid-size-selector {
  width: 4em;
}

.canvas {
  display: flex;
  align-items: center;
  margin: 0px 40px;
}

.grid{
  border: 2px solid black;
  display: grid;
}
