body {
  margin: 0%;
  min-width: fit-content;
}

main {
  display: flex;
  justify-content: center;
}

header {
  padding: 2%;
  font-size: x-large;
}

.controls-vertical {
  border: 1px solid grey;
  padding: 10px;
  max-width: 150px;
  max-height: 512px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.controls-horizontal {
  border: 1px solid grey;
  padding: 10px;
  max-width: 512px;
  max-height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#size-container {
  margin: 10px;
  width: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#color-container {
  margin: 10px;
  width: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#reset-container {
  margin: 10px;
  width: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  width: 120px;
}

#grid-size-selector {
  width: 4em;
}

.canvas {
  display: flex;
  align-items: center;
}

.grid{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  display: grid;
}
